{% extends "layout.html" %}
{% block body %}
        <div class="content">
            <div class="grid">
                <div class="col-1-1 admin">
                    <fieldset>
                    <legend>Neuer Benutzer anlegen</legend>
                    <form action="" method="post" name="add_user">
                    {{ form.hidden_tag() }}
                    <table>
                        <tr>
                            <td>Username</td>
                            <td>
                            {{ form.user }}
                            {% for error in form.errors.user %}
                            <div style="color: red;">{{error}}</div>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Berechtigungen</td>
                            <td>
                            {{ form.roles(class_='edit-checkboxes') }}
                            {% for error in form.errors.roles %}
                            <div style="color: red;">{{error}}</div>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>E-Mail</td>
                            <td>
                            {{ form.email }}
                            {% for error in form.errors.email %}
                            <div style="color: red;">{{error}}</div>
                            {% endfor %}
                            </td>           
                        </tr>                 
                        <tr>
                            <td>Passwort</td>
                            <td>
                            {{ form.password }}
                            {% for error in form.errors.password %}
                            <div style="color: red;">{{error}}</div>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Passwort wiederholen</td>                            
                            <td>
                            {{ form.confirm }}
                            {% for error in form.errors.password %}
                            <div style="color: red;">{{error}}</div>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" class="button save" value="Speichern">
                                <a href="{{ url_for('admin') }}"><input type="button" class="button cancel" value="Abbrechen"></a>
                            </td>
                        </tr>
                    </table>
                    </fieldset>
                    </form>
                </div>
            </div>        
		</div>
{% endblock %}

