                    <fieldset>
                    <legend>Produkte</legend>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Produkt</th>
                            <th>Preis in €</th>
                            <th>Schacht</th>
                            <th>Bestand</th>
                            <th>Grenzwert</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for product in products %}
                        <tr>
                            <td class="product-id">{{ product.id }}</td>
                            <td class="product-name">{{ product.name }}</td>
                            <td class="product-price">{{ product.price|format_currency("EUR") }}</td>
                            <td class="product-slot">{{ product.slot }}</td>
                            <td class="product-stock">{{ product.stock }}</td>
                            <td class="product-alert">{{ product.alert_level }}</td>
                            <td><a href="{{ url_for('edit_product', id=product.id) }}"><div class="edit button"></div></a></td>
                            <td><a href="{{ url_for('delete_product', id=product.id) }}"><div class="delete button"></div></a></td>
                        </tr>
                        {% endfor%}
                        <tr>
                            <td colspan="8"><a href="{{ url_for('add_product') }}"><input type="button" class="button" value="Anlegen"></a></td>
                        </tr>
                    </table>
                    </fieldset>
