                    <fieldset>
                    <legend>Verkäufe</legend>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Produkt</th>
                            <th>Preis in €</th>
                            <th>Zeitstempel</th>
                        </tr>
                        </thead>
                        {% if vends %}
                        {% for vend in vends %}
                        <tr>
                            <td class="vend-id">{{ vend.id }}</td>
                            <td class="vend-user">{{ vend.user }}</td>
                            <td class="vend-product">{{ vend.product }}</td>
                            <td class="vend-price">{{ vend.price|cent_to_eur }}</td>
                            <td class="vend-timestamp">{{ vend.timestamp }}</td>
                        </tr>
                        {% endfor%}
                        {% else %}
                        <tr>
                            <td colspan='7'>Es wurde bisher noch kein Gertänk ausgegeben.</td>
                        </tr>
                        {% endif %}
                    </table>
                    </fieldset>
