                    <fieldset>
                    <legend>Benutzer</legend>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>E-Mail</th>
                            <th>Guthaben in €</th>
                            <th>Rollen</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for user in userdata %}
                        <tr>
                            <td class="user-id">{{ user.id }}</td>
                            <td class="user-name">{{ user.name }}</td>
                            <td class="user-name">{{ user.email }}</td>
                            <td class="user-balance">{{ user.balance|cent_to_eur }}</td>
                            <td class="user-roles">
                            {% for role in roles %}
                            <input type="checkbox" value="{{ role }}" disabled 
                                {% for userrole in user.roles %}
                                    {% if userrole.role|capitalize == role %}checked{% endif %}
                                {% endfor %}
                            /><span>{{ role }}</span>
                            {% endfor %}
                            </td>
                            <td><a href="{{ url_for('edit_user', id=user.id) }}"><div class="edit button"></div></a></td>
                            <td><a href="{{ url_for('delete_user', id=user.id) }}"><div class="delete button"></div></a></td>
                        </tr>
                        {% endfor%}
                        <tr>
                            <td colspan="7"><a href="{{ url_for('add_user') }}"><input type="button" class="button" value="Anlegen"></a></td>
                        </tr>
                    </table>
                    </fieldset>

