                    <fieldset>
                    <legend>Einzahlungen</legend>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kassier</th>
                            <th>Username</th>
                            <th>Betrag in €</th>
                            <th>Zeitstempel</th>
                        </tr>
                        </thead>
                        {% if payments%}
                        {% for payment in payments %}
                        <tr>
                            <td class="payment-id">{{ payment.id }}</td>
                            <td class="payment-treasurer">{{ payment.treasurer }}</td>
                            <td class="payment-user">{{ payment.user }}</td>
                            <td class="payment-price">{{ payment.amount|cent_to_eur }}</td>
                            <td class="payment-timestamp">{{ payment.timestamp }}</td>
                        </tr>
                        {% endfor%}
                        {% else %}
                        <tr>
                            <td colspan='7'>Es wurde bisher noch nichts eingezahlt.</td>
                        </tr>
                        {% endif %}
                    </table>
                    </fieldset>
