{% extends "layout.html" %}
{% block body %}
        <div class="content">
            <div class="grid">
                <div class="col-1-1">
                    <h2 >Statistik</h2>

                    <script type="text/javascript">
                    $(function() {
                        mate = JSON.parse({{products}});
                        $.plot("#placeholder", [
                        {
                            data: mate,
                            label: "test",
                            lines: { show: true, fill: true }
                        }]
                        );
                    });
                    </script>
                    <div class="flot-graph">
                        <div id="placeholder" class="flot-placeholder"></div>
                    </div> 
                </div>
            </div>        
		</div>
{% endblock %}
