{% extends "layout.html" %}
{% block body %}
        <div class="content">
            <div class="grid">
                <div class="col-1-1">
                    <h2 >Statistik</h2>
                    
                    <div class="spacer"></div> 

                    {% if not g.user.is_authenticated() %}
                        <a style="font-size: 1.4em" href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a style="font-size: 1.4em" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>        
		</div>
{% endblock %}
