{% extends "layout.html" %}
{% block body %}
        <div class="content">
            <div class="grid">
                <div class="col-1-1">
                    <h2 >Statistik</h2>

                    <script type="text/javascript">
                    $(function() {
                        var d6 = [];
                        for (var i = 0; i < 14; i += 0.5 + Math.random()) {
                            d6.push([i, Math.sqrt(2*i + Math.sin(i) + 5)]);
                        }

                        $.plot("#placeholder", [
                        {
                            data: d1,
                            label: "test",
                            lines: { show: true, fill: true }
                        }]
                        );
                    });
                    </script>
                    <div class="flot-graph">
                        <div id="placeholder" class="flot-placeholder"></div>
                    </div> 
                </div>
            </div>        
		</div>
{% endblock %}
